{% extends "base.html" %}

{% block title %}Livros{% endblock %}

{% block content %}

<h2 class="section-title">Todos os Livros</h2>

<div class="grid">
    {% for book in books %}
    <div class="card">
        <img src="{{ book.cover_url }}" alt="{{ book.title }}">
        
        <h3 class="card-title">{{ book.title }}</h3>
        <p class="card-subtitle">{{ book.author_name }}</p>

        <a href="/book/{{ book.id }}" class="details-btn">Ver detalhes</a>
    </div>
    {% endfor %}
</div>

{% endblock %}
